#customcontact {
  background-color: #2e1600;
  background-position: center;
  background-repeat: no-repeat;
}

.customnavbar {
	background-color:#4d2600;

}

#logo {
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	color:white;
}

.h2custom {
	color:#ffffea;
}

.h2custombrown {
	color:#4d2600;
}

.h4custombrown {
	color:#4d2600;
}
.h4custom {
	color:white;
}
.pcustombrown {
	color:#4d2600;
}
.customemail{
	color:#ffffea;
	font-size:15pt;
	padding-top: 20pt;

}
.h3custom {
	color: white;
	font-size: 20px;
  	font-family: "Montserrat", Helvetica, Arial, sans-serif;
  	text-transform: none;
  	font-weight: light;
  	margin-bottom: 75px;
  	line-height: 100%;
}

.customgreen {
	background-color: #1e3b3c;
}
.pcustombeige {
	color:#ffffea;
	padding: 20px;
	padding-right: 100px;
	padding-left: 100px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
.centered {
	text-align: center;
}

#link{
	color:#1e3b3c;
}

.gonnaBeOnTheBottom {
    position:absolute;
    bottom:5px;
    left:30px;
    right:30px;
    width:0px;
    margin: 0 auto;
    padding-left: 20px;
    color: #2b5556;
}

#button-xl {
	padding-top:300px;
}
